[defaults]
inventory       = inventory/
roles_path      = roles/
collections_paths = collections/
host_key_checking = False
stdout_callback = ansible.builtin.default

[inventory]
enable_plugins = yaml, ini

[ssh_connection]
ssh_args = -F /root/.ssh/config